body{
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(131, 136, 138); */
}
h1{
  text-align: center;
}
.parrafo{
  text-align: justify;
}
.imagen{
  height: 100px;
}